<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    <link rel="shortcut icon" href="https://nesh.gq/icon.png" type="icon/png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h2>File Metadata Microservice</h2>

    <h4 id="output"></h4>
    <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
      <input id="inputfield" type="file" name="upfile" />
      <input id="button" type="submit" value="Upload" />
    </form>
  </body>
</html>
